<!-- footer -->
<!-- footer-bottom -->
	
<!-- footer-bottom -->
			<div class="copyright">
				<div class="container">
					<p>© 2016 Business_Blog. All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
				</div>
			</div>
	

</body>
</html>